<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="index.html">BRB Guide</a>
      <ul class="nav">
        <li class="<% if(navMenu=='index'){ print('active'); } %>"><a href="index.html">Intro</a></li>
        <li class="<% if(navMenu=='start'){ print('active'); } %>"><a href="start.html">Get Started</a></li>
        <li class="<% if(navMenu=='view'){ print('active'); } %>"><a href="view.html">Into View</a></li>
      </ul>
    </div>
  </div>
</div>