<!DOCTYPE html>
<html>
    <head>
        <title>My Sample Project</title>
        <link href="vendorAssets/mixed/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    	<link href="assets/css/main.css" rel="stylesheet">
        <!-- data-main attribute tells require.js to load
             main.js after require.js loads. -->
        <script data-main="main" src="vendorAssets/libs/require/require.js"></script>
    </head>
    <body>
        <h1>My Sample Project</h1>

        <div role="main" class="container"></div>
    </body>
</html>